* {
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: space-between;
}

img {
  width: 200px;
}

.page {
  border: solid blue 2px;
}

.watchlist {
  border: solid orange 2px;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
}

.movie-card {
   display: flex;
   flex-wrap: wrap;
   width: 250px;
   margin: 20px;
}
